.parent {
  display: grid;
  grid-template-columns: 1.5fr 0.2fr repeat(3, 1fr) 0.1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
}
.div2 {
  grid-area: 1 / 3 / 6 / 6;
}
.div3 {
  grid-area: 1 / 2 / 6 / 3;
}

.checkout-btn {
  border: 1px solid black;
  background-color: brown;
  color: white;
  border-radius: 12px;
  margin-top: 30px;
  width: 100%;
  transition: all 0.5s ease;
}

.checkout-btn:hover {
  background-color: rgb(206, 2, 2);
  color: aliceblue;
  transform: scale(1.05);
}
