.bookcard_container {
  background: rgb(37, 37, 37);
  border: 10px #807b7b;
  zoom: 80%;
  padding: 1rem 2rem;
  opacity: 1;
  width: fit-content;
  height: fit-content;
}
.bookcard_container h1 {
  color: #c0c0c0;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.bookcard_container h4 {
  color: #ff2020;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.bookcard_container:hover {
  opacity: 0.8;
  border-radius: 2%;
  transform: scale(1.03);
}
