.bookcard_container {
  background: #fff;
  border: 10px #03223f;
  zoom: 80%;
  padding: 1rem 2rem;
  opacity: 1;
  width: fit-content;
  height: fit-content;
}
.bookcard_container h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}
.bookcard_container h4 {
  color: #617d98;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.bookcard_container:hover {
  opacity: 0.8;
  border-radius: 2%;
  transform: scale(1.03);
}
