* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1000px;
  margin: 70px;
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
    /* align-items: start; */
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  opacity: 0.8;
}
.book h1 {
  margin-top: 0.5rem;
}
.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.book p {
  margin-top: 0.5rem;
}

.book:hover {
  opacity: 1;
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.slider:hover {
  opacity: 1;
}

.image {
  width: 1500px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(204, 121, 121);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(204, 121, 121);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
