@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  padding: 0;
}

nav {
  border-radius: 8px;
  z-index: 10000;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(36, 141, 132);
  color: white;
  position: sticky;
  top: 0;
}

.navbarLinks {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

/*BUTTON STYLE*/
.btn-black {
  background: rgb(39, 80, 128);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: Poppins, sans-serif;
}
.btn-black:focus {
  outline: none;
}

.btn-black:active {
  transform: scale(0.98);
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  top: 17.5px;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(39, 80, 128);
  border-right: none;
  padding: 5px;
  height: 44px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 44px;
  border: 1px solid rgb(39, 80, 128);
  background: rgb(39, 80, 128);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 35%;
  position: relative;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  margin-top: 8px;
}
